services:
  genshin-discord-bot:
    image: ghcr.io/kt-yeh/genshin-discord-bot:latest
    container_name: GenshinDiscordBot
    environment:
      - TZ=Asia/Taipei
      # ↓↓↓↓↓↓↓↓ 必填設定 ↓↓↓↓↓↓↓↓
      # 機器人 Application ID，從 Discord Developer 網頁上取得
      - APPLICATION_ID=123456789
      # 測試伺服器 ID，用來測試斜線指令，管理員指令只能在本伺服器使用
      - TEST_SERVER_ID=123456789
      # 機器人 Token，從 Discord Developer 網頁取得
      - BOT_TOKEN=ABCD123456789
      # ==========================

      # ↓↓↓↓↓↓ 參數設定 (可選) ↓↓↓↓↓
      # Hoyolab 自動簽到的間隔 (單位：分鐘)
      - SCHEDULE_DAILY_CHECKIN_INTERVAL=10
      # 自動檢查即時便箋的間隔 (單位：分鐘)
      - SCHEDULE_CHECK_RESIN_INTERVAL=5
      # 排程執行時每位使用者之間的等待間隔（單位：秒）
      - SCHEDULE_LOOP_DELAY=2.0
      # 過期使用者天數，會刪除超過此天數未使用任何指令的使用者
      - EXPIRED_USER_DAYS=180

      # 使用者重複呼叫部分斜線指令的冷卻時間（單位：秒）
      - SLASH_CMD_COOLDOWN=5.0
      # Discord 長時間互動介面（例：下拉選單） 的逾時時間（單位：秒）
      - DISCORD_VIEW_LONG_TIMEOUT=1800
      # Discord 短時間互動介面（例：確認、選擇按鈕）的逾時時間（單位：秒）
      - DISCORD_VIEW_SHORT_TIMEOUT=120
      # ==========================

      # ↓↓↓↓↓↓ 進階設定 (可選) ↓↓↓↓↓↓
      # 遠端簽到 API URL list
      # - DAILY_REWARD_API_LIST=["https://xxxx.xxx"]
      # Sentry DSN 位址設定
      # - SENTRY_SDK_DSN=https://xxxxx@xxxx.ingest.sentry.io/xxx
      # Prometheus server 監聽的 Port
      # - PROMETHEUS_SERVER_PORT=9091
      # hoyolab-geetest-webserver 網頁服務的位址，若要給別人使用，要改成自己電腦的公開 IP
      - GEETEST_SOLVER_URL=http://127.0.0.1:8081
      # 給 genshin_py 呼叫官方 API 使用的 proxy server 位址，若要使用，取消下面 warp-socks 整段註解
      # - GENSHIN_PY_PROXY_SERVER=socks5://warp-socks:9091
      # ==========================
    volumes:
      - ./data:/app/data
      - ./cogs_external:/app/cogs_external
    restart: always

  # 用於設定使用者圖形驗證的網頁服務
  hoyolab-geetest-webserver:
    image: ghcr.io/kt-yeh/hoyolab-geetest-webserver:main
    container_name: HoyolabGeetestWebserver
    environment:
      - TZ=Asia/Taipei
      # - PROXY_SERVER=socks5://warp-socks:9091
    volumes:
      - ./data/bot/:/app/data/
    ports:
      # 左邊 8081 要與上面 GEETEST_SOLVER_URL 對應
      - "8081:8000"
    restart: always

  # 若要使用 Prometheus 監控
  # 1. 上面進階設定，取消註解 PROMETHEUS_SERVER_PORT=9091
  # 2. 修改 data/prometheus.yml 檔案內容
  #   - 設定 targets: ['genshin-discord-bot:9091']
  #   - 設定 remote_write
  # 3. 取消下方整段註解
  # prometheus:
  #   image: prom/prometheus:v2.37.6
  #   container_name: Prometheus
  #   environment:
  #     - TZ=Asia/Taipei
  #   volumes:
  #     - ./data/prometheus.yml:/etc/prometheus/prometheus.yml
  #   restart: always

  # 若要使用 Proxy server
  # 1. 上面進階設定，取消註解 GENSHIN_PY_PROXY_SERVER
  # 2. 取消上面 hoyolab-geetest-webserver 的 PROXY_SERVER 註解
  # 3. 取消下方整段註解
  # warp-socks:
  #   image: monius/docker-warp-socks:latest
  #   privileged: true
  #   cap_add:
  #     - NET_ADMIN
  #     - SYS_ADMIN
  #   sysctls:
  #     net.ipv6.conf.all.disable_ipv6: 0
  #     net.ipv4.conf.all.src_valid_mark: 1
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "https://www.cloudflare.com/cdn-cgi/trace"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5